@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Orbitron:wght@400..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "tailwindcss";

@theme {
  --color-mint-500: #1da1f2;
  --color-blue-550: #06588b;
  --color-icon: #def3ff;
  --color-dim: #f0eeef;
}

:root {
  font-family: "Lato", sans-serif;
  background-color: white;
  color: black;
  font-weight: 400;
  color-scheme: light dark;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.shadow-custom {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.hero-section {
  background-image: url('assets/images/hero.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: color;
  background-color: #0000007a;
  height: calc(100vh - 80px);
}

.services-section {
  background-image: url('assets/images/services.jpg');
  background-blend-mode: color;
  background-color: #000000a5;
}

.staffing-section {
  background-image: url('assets/images/staffingbg.jpg');
  background-blend-mode: color;
}

.contact-section {
  background-image: url('assets/images/contact.webp');
  background-blend-mode: color;
  background-attachment: fixed;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  opacity: .6;
  background: #4f86f9;
}

.executive-section {
  background-image: url('assets/images/executive.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: color;
  background-color: #000000a5;
}

.swiper-pagination {
  bottom: -4px !important;
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: flex;
  white-space: nowrap;
  animation: marquee 20s linear infinite;
}

@media (max-width: 768px) {
  .wrapper {
    width: 95%;
  }
}